body{margin:0;font:75%/150% arial;background-color:#fff; font-size:12px;}
body, table, td, div, p, .win, .column{word-wrap:break-word; word-break:break-all; word-break/* */:normal ;}
td, th{overflow:hidden;}
hr{height:1px;}
form{padding:0;margin:0;}
input, select, textarea {font: 13px Arial;}
p{margin-top:0;}

ul {padding:0;list-style-type:none;list-style-image: url('../<?=$domain_url?>/images/homeul.gif');margin-left:15px; margin-right:0; margin-top:4px; margin-bottom:4px}
ul ul{margin-left:40px;}
z
a:link{color:#000099;text-decoration:none;}
a:visited{color:#000099;text-decoration:none;}
a:hover{color:#000099;text-decoration:underline;}
h1, h2, h3{margin:0;padding:0;}
h1{font:2em/180% arial;margin:15px 0 10px 0;}
h1.guide{color:#002858;margin-bottom:10px;font-size:20px;}
h2{font:1.5em/180% arial;}
h3{font:1.4em/180% arial;}

.l{font-size:1.7em;}
.m{font-size:1.3em;}
.s{font:0.85em verdana;}
.fail{background:#ffaaff;}
.remark{color:#aaa;font:0.85em verdana;}
.alert{color:#f60;}
.limit{color:#900;font:0.85em verdana;}
.keywords{font-weight:bold;}
.notice{color:#900;}
.date{font-size:0.8em!important;font-family:verdana;font-weight:normal;color:#666;white-space:nowrap;line-height:1.4em;}
.break {overflow: hidden; width:550px; word-wrap:break-word; word-break:break-all; word-break/* */:normal ;}
.widthfixed{table-layout:fixed; word-wrap:break-word; word-break:break-all; word-break/* */:normal ;}
a.more{background:url('icon_arrow.gif') left no-repeat;padding-left:8px;}

.ellipsis{text-overflow:ellipsis;}
.cursorOver{background-color:#E8EDF2;}
.cursorMove{cursor:move;background-color:#CEDBE5;}
img.sampleborder{border:1px solid #ccc;}

.column{float:left;}
.column.one2{width:50%;}
.column.one3{width:33.3%;}
.column.one4{width:25%;}
.column.one5{width:20%;}
.column.one6{width:16.6%;}

.board{padding:8px 16px 8px 16px;margin-bottom:25px;}
.board h3{font-weight:bold;}

input.L{font:bold 14px arial;padding:3px 8px;}
input.M{font:bold 14px arial;padding:2px 8px 1px 8px;}
input.S{font:bold 0.85em verdana;padding:2px 8px 1px 8px;}

input.buttonSkinA{color:#5E2708;background:#FEEEB1 url('../<?=$domain_url?>/images/buttonSkinAL.gif') repeat-x bottom;border-top:1px solid #F39D24;border-left:1px solid #F39D24;border-right:1px solid #CF6F18;border-bottom:1px solid #CF6F18}
input.buttonSkinB{color:#414141;background:#F3F3F3 url('../<?=$domain_url?>/images/buttonSkinBL.gif') repeat-x bottom;border-top:1px solid #C4C4C4;border-left:1px solid #C4C4C4;border-right:1px solid #848484;border-bottom:1px solid #848484}

.win {clear:both;margin-bottom:11px;}
.win h3 {padding:5px 10px;font:bold 1.1em tahoma;margin-left:2px;}
.win h4 {font-size:1em;color:#888;border-bottom:1px dotted #ccc;margin:0 -12px;padding:0 12px;}
.win .box {padding:4px 11px;}
.win .box .promot {background-color:#F3F6FD;border-top:1px solid #DAE4F0;padding:4px 12px;margin:-4px -11px;}
.win .box.promotImage {margin:-4px -11px;}
.win .winRight {float:right;margin:8px 8px 0 0;font:0.8em verdana;}
/*.win.winHomeA {background:#FFD58D url('../<?=$domain_url?>/images/winHomeA_left.gif') no-repeat;}*/
.win.winHomeA h3 {border-bottom:1px solid #FF8F27;color:#7B2E00;background:#FFD58D url('../<?=$domain_url?>/images/winHomeA_right.gif') top right no-repeat;}
.win.winHomeA h3 .remark{color:#7B2E00;}
.win.winHomeA .box {border:1px solid #FFB64B;border-top:none;background-color:#FFFBEF;}

.win.winHomeB {width:100%;background:#C0D6E5 url('../<?=$domain_url?>/images/winSkinALeft.gif') no-repeat;}
.win.winHomeB h3 {background:#C0D6E5 url('../<?=$domain_url?>/images/winSkinARight.gif') top right no-repeat;color:#081B39;font-weight:bold;}
.win.winHomeB .box {border:1px solid #9BBDD3;background-color:#fff;}

.win.winHomeC h3 {margin:0;border:1px solid #BACBE0;border-bottom:none;}
.win.winHomeC .box {border:1px solid #BACBE0;border-top:none;}

.colRR .win.winHomeB h3, .colL .win.winHomeB h3{padding:4px 10px;}

.tabsH{clear:both;margin-bottom:10px;}
.tabsH ul.tabs {padding-right:25px;margin:0;list-style-type:none;list-style-image:url('none');height:24px}
.tabsH .tabs li {float:left;margin-right:6px;}
.tabsH .tabs li a {padding:5px 20px 5px 15px;margin-left:2px;width:auto;display:block;font:12px/100% arial;}
.tabsH .tabs li a:hover {color:#f60!important;}
.tabsH .tabs li a:visited {color:#039;}
.tabsH .tabs li a:link {color:#455B80;}
.tabsH.format3 {background:#FFFBEF url('../<?=$domain_url?>/images/tabstitle_formatC_skinHome_left.gif') no-repeat left top;}
.tabsH.format3 h3 {color:#7B2E00;border-bottom:1px solid #FF8F27;margin-left:2px;background:#FFD58D url('../<?=$domain_url?>/images/tabstitle_formatC_skinHome_right.gif') no-repeat right top;; font-style:normal; font-variant:normal; font-weight:bold; font-size:1em; font-family:tahoma; padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px}
.tabsH.format3 h3 .remark{color:#7B2E00;}
.tabsH.format3 ul.tabs {position:relative;padding-top:10px;border-left:1px solid #FFB64B;border-right:1px solid #FFB64B;background:#FFFBEF url('../<?=$domain_url?>/images/tabs_formatC_skinHome_line.gif') repeat-x bottom;}
.tabsH.format3 .tabs li {float:left;background:#FFD58F url('../<?=$domain_url?>/images/tabs_formatC_skinHome_left.gif') no-repeat left top;; margin-left:2px; margin-right:0; margin-top:0; margin-bottom:0}
.tabsH.format3 .tabs li a:link, .tabsH.format3 .tabs li a:hover, .tabsH.format3 .tabs li a:visited{text-decoration:none!important;font-weight:bold;color:#733F39;background:#FFD58F url('../<?=$domain_url?>/images/tabs_formatC_skinHome_right.gif') no-repeat right top;; padding-left:14px; padding-right:19px; padding-top:5px; padding-bottom:6px}

.tabsH.format3 .tabs li.current {background:#DC7942 url('../<?=$domain_url?>/images/tabs_formatC_skinHome_current_left.gif') no-repeat left top;}

.tabsH.format3 .tabs li.current a:link, .tabsH.format3 .tabs li.current a:hover, .tabsH.format3 .tabs li.current a:visited{color:#fff!important;background:#DC7942 url('../<?=$domain_url?>/images/tabs_formatC_skinHome_current_right.gif') no-repeat right top;}

.tabsH.format3 .tabs .new{position:absolute;top:-5px;left:225px;background:url('../<?=$domain_url?>/images/icon_new_20071018.gif') no-repeat;width:28px;height:32px}

.tabsH.format3 .tabs li.more {background:none;}

.tabsH.format3 .tabs li.more img{margin:7px 5px 0 4px;}

.tabsH.format3 .tabs li.more a:link, .tabsH.format3 .tabs li.more a:hover, .tabsH.format3 .tabs li.more a:visited{padding:5px 3px 6px 10px;background:none;font-size:12px;font-weight:none;}

.tabsH.format3 .tabs li.more a:hover{text-decoration:underline!important;}
.tabsH.format3 .box {padding:10px;border:1px solid #FFB64B;border-top:none;}

.mainCategory {padding:4px 0!important;width:178px;position:relative;}
.mainCategory ul{margin:0;padding:0;font:1em/120% tahoma;width:178px;}
.mainCategory li{padding:0; list-style-image:url('none');width:177px;margin-left:1px; margin-right:0; margin-top:0; margin-bottom:2px}
.mainCategory li strong{font-size:1.2em;}
.mainCategory li a{display:block;width:165px;padding:2px 0 2px 10px;border:1px solid #FFFBEF;border-top-width:2px;}
.mainCategory li a:hover, .mainCategory li.current a {border:1px solid #FFB74B;border-top:2px solid #FC8C2A;background-color:#F6E4BA; color:#781208;}
.mainCategory li a:visited{color:#781208;}

.ctgPlusItem{position:absolute;top:0px;left:0px;width:180px;height:330px;}
.ctgPlusItem .content{border:1px solid #FFB74B;border-top:2px solid #FC8C2A;background-color:#fff1d1;position:absolute;z-index:888;}
.ctgPlusItem .content a{border:1px solid #fff1d1;display:block;width:140px;padding:3px 10px;line-height:130%;}
.ctgPlusItem .content a:hover{background-color:#fff;border:1px solid #FFB74B;}
.ctgPlusItem li a:visited{color:#039;}
.ctgPlusItem ul{list-style-type:none;list-style-image:url('none');margin:1px;width:162px;font-family: tahoma}

.divExchangeItem{background-color:#FFFBEF;padding-bottom:10px;margin-bottom:15px;border-bottom:1px solid #FFB64B;}



.openCategoryIcon{float:right;height:21px;width:26px;background:url('openCategoryIcon.gif') no-repeat;; margin-left:0; margin-right:3px; margin-top:3px; margin-bottom:0}
.openCategory{width:658px;position:absolute;background-color:#FFFBEF;}
.openCategory .win{margin:0px;}
.openCategory .win .box{border:2px solid #FE8A27;padding:0;}
.openCategory ul{margin:0;padding:0;list-style-image:url('none');}
.openCategory ul ul{display:block;clear:both;}
.openCategory li {float:none;color:#7B2E04;padding:10px;background:url('../<?=$domain_url?>/images/openCategoryPoint.gif') repeat-x left bottom;; font-style:normal; font-variant:normal; font-weight:bold; font-size:14px; font-family:tahoma}
.openCategory li li{float:left;width:33.3%;font-weight:lighter;padding:0;background-image:url('none');font-style:normal; font-variant:normal; line-height:150%; font-size:0.82em; font-family:tahoma}
.openCategory li.openCategoryBg{background-color:#FFF3DD;width:630px;}
.openCategory li.openCategoryBg a{border:1px solid #FFF3DD;}
.openCategory li a{padding:1px 10px;}
.openCategory li li a{padding:1px 10px;display:block;border:1px solid #FFFBEF;}
.openCategory li li a:hover{background-color:#fff;border:1px solid #FFB74B;}
.openCategory li a:visited{color:#039;}
.openCategory li.openCategoryBg.openCategoryEnd{background-image:url('none') !important;}
.closeCategoryIcon{float:right;height:21px;width:74px;background:url('../<?=$domain_url?>/images/closeCategoryIcon.gif') no-repeat;; margin-left:0; margin-right:3px; margin-top:3px; margin-bottom:0}



.aliSearch {clear:both;background:#F5F8FB url('../<?=$domain_url?>/images/aliSearch_tabsBg.gif') repeat-x top;}

.aliSearch ul {list-style-type:none;list-style-image:url('none');height:30px;margin-left:150px; margin-right:0; margin-top:0; margin-bottom:0}

.aliSearch li {float:left;margin-right:2px;background:#D6E5EE url('../<?=$domain_url?>/images/aliSearch_tabsLeft.gif') no-repeat left top;}

.aliSearch li a{margin-left:2px;width:auto;
display:block;
color:#455B80;
background:#D6E5EE url('../<?=$domain_url?>/images/aliSearch_tabsRight.gif') no-repeat right top !important;
font-style:normal; font-variant:normal;
 font-weight:bold; line-height:100%;
  font-size:13px; font-family:arial;
   padding-left:10px; padding-right:10px; 
   padding-top:7px; padding-bottom:7px}
   
.aliSearch li a:link{
color:#455B80;
}

.aliSearch li a:visited{
color:#455B80;
}


.aliSearch .searchBox {text-align:center;color:#fff;background:#3F80B1 url('../<?=$domain_url?>/images/aliSearch_searchBg.gif') no-repeat left top; padding-left:12px; padding-right:12px; padding-top:6px; padding-bottom:6px}

.aliSearch .searchBox a{color:#fff;}

.aliSearch li.current {height:30px;background:#93C2DE url('../<?=$domain_url?>/images/aliSearch_current_tabsLeft.gif') no-repeat left top;}

.aliSearch li.current a{font-weight:bold;text-decoration:none;color:#455B80!important;background:#93C2DE url('../<?=$domain_url?>/images/aliSearch_current_tabsRight.gif') no-repeat right top !important;}

.aliSearch ul li a{hide-focus: expression(this.hideFocus=true);  /* for ie 5+ */  outline: none;  /* for firefox 1.5 + */}

.aliSearch li.other{margin-left:20px;background:none;}

.aliSearch li. a{background:none!important;font-size:10px;font-family:verdana;font-weight:normal;}

.homePopSearch{margin-bottom:10px;background:url('../<?=$domain_url?>/images/aliSearch_popBg.gif') no-repeat top;; padding-left:15px; padding-right:15px; padding-top:5px; padding-bottom:10px}




















.userGuide{position: static;top:0px;left:0px;z-index:99;padding:6px 0 6px 6px;background:#FCE8B7;margin-bottom:6px;border:1px solid #FDCD74;width:285px;}
.userGuide .welecome{font:12px;margin-left:5px;}
.userGuide .welecome a:link,.userGuide .welecome a:visited{color:#7C310A;text-decoration:underline;}
.userGuide .welecome a:hover{color:#f60;text-decoration:underline;}

.userGuide .userRecommend {vertical-align:middle;font:0.85em verdana; font-family:Arial, Helvetica, sans-serif; font-size:11px;}
.userGuide .userRecommend a{color:#522103;display:block;float:left;margin:4px 2px 0 2px;}
.userGuide .userRecommend a:link,.userGuide .userRecommend a:visited,.userGuide .userRecommend a:hover{color:#522103;text-decoration:none;}
.userGuide .userRecommend a.mouseHover{background:none!important; padding-top:0px; padding:0;height:42px;}

.userGuide .userRecommend a.mouseHover strong{height:36px;border-bottom:none!important;}

.userGuide .userRecommend strong.freeIcon{background:#fff;}

.userGuide .userRecommend a.singleFile strong{line-height:20px;}

.userGuide .userRecommend a strong{display:block;width:118px;height:38px;padding-top:6px;background:#fff;padding-left:12px;border-right:1px solid #DB7244;border-bottom:1px solid #DB7244;border-left:1px solid #FFAF37;border-top:1px solid #FFAF37;}

.userGuide .userRecommend .userRecommendContent{font:1.1em tahoma;color:#522103;padding:12px 0 8px 12px;width:255px;overflow:hidden;margin-left:2px!important;clear:both;margin-left:4px;background:#fff url(<?=$domain_url?>/images/bordertop.gif) top right no-repeat;border-right:1px solid #DB7244;border-bottom:1px solid #DB7244;border-left:1px solid #FFAF37;}

.userGuide .userRecommend .userRecommendContent a{background:none;height:auto;width:auto;display:inline;float:none;padding:0;margin:0; border:none;font-weight:bold;}

.userGuide .userRecommend .userRecommendContent a:link{color:#039;text-decoration:underline;}

.userGuide .userRecommend .userRecommendContent a:visited{color:#969;text-decoration:underline;}

.userGuide .userRecommend .userRecommendContent a:hover{color:#f60;text-decoration:underline;}

.userGuide .userRecommend .userRecommendContent a.linkButton,
.userGuide .userRecommend .userRecommendContent a:link.linkButton,
.userGuide .userRecommend .userRecommendContent a:visited.linkButton,
.userGuide .userRecommend .userRecommendContent a:hover.linkButton
{text-decoration:none;font-weight:lighter;color:#522103;float:left;font-size:1em;width:105px;height:18px;margin-right:4px;padding:5px 0 0 8px;display:block;background: url(alibaba_files/userRecommendBotton.gif) no-repeat;}

.userGuide .userRecommend .userRecommendContent.rightborder{background:#fff url(alibaba_files/bordertop.gif) top left no-repeat;}



















.bigBuyer{margin-top:10px;padding:6px 12px;margin-bottom:10px;border:1px solid #FFA931;line-height:15px;}
.bigBuyer strong{color:#441800;margin-bottom:8px;display:block;}

.itemViewerItem{width:265px;height:250px;}
.itemViewerItem div{width:95%;height:95%;}
.productGroupOthersCotainer{position:absolute;top:0px;left:0px;z-index:1;width:350px;height:2000px;}
.productGroupOthersRind{width:260px;height:40px;position:relative;overflow:hidden;padding:0x;margin:0px;}
.itemViewerNav{text-align:right;}
.itemViewerNav a{margin-left:3px;padding:0 5px;background:#efefef;}
.itemViewerNav a.current{background:#ccc;}

#mainNav{float:right;margin-top:10px;}
#mainNav ul {display:inline;}
#mainNav li {display:block;float:left;margin-right:4px;background:#FFFFDD url('mainNavHome.gif') no-repeat right;}
#mainNav a:link, #mainNav a:visited {display:block;width:83px;height:21px;text-align:center;font:bold 11px/20px arial!important;color: #4E2207;text-decoration: none;}


div.image75-left img { clear: both; float: left;}
div.image75-left p img { clear: none; float: none;width:auto;}
div.image75-left p { margin-left: 85px!important;margin-bottom:0;}
div.image75-left li img, div.image75-left p img { clear: none; float: none;width:auto!important;}
div.image75-left ul{ margin-left: 85px;}


.homeAd{margin-bottom:10px;}

#header	{height:80px;background:#fff url('headCap.gif') repeat-x;}
#aliLogo{float:left;margin-right:15px;font:bold 10px verdana;}
.header960{width:960px;margin: auto;}
.utility{text-align:right;padding:3px;height:25px;font:0.85em verdana;}
.utility a:link, .utility a:visited, .utility a:hover{color:#3D5376;text-decoration:none;}
#page960{margin:auto;text-align:left;min-width:760px;max-width:960px;width:960px;}

.importantNotice{text-align:center;width:100%;background-color:#FFFFE1;border-bottom:1px solid #ACA899;}
.importantNotice a:link{text-decoration:underline;}

.colRL{float:left;overflow:hidden;}
.colR, .colRR{float:right;overflow:hidden;position:relative;}
#page960.frameA {position:relative;}
#page960.frameA .colL{width:180px;position:absolute; z-index:8;top:130px;left:0;}
#page960.frameA .colR{width:100%;margin-left:-193px;}
#page960.frameA .colR .colRmargin{margin-left:193px;margin-bottom:20px;}
#page960.frameA .colRL{width:100%;margin-right:-303px;}
#page960.frameA .colRL .colRLmargin{margin-right:302px;} 
#page960.frameA .colRR{width:289px;}

.intelligent{position:relative;z-index:9;display:inline;}
.intelligentList {background:#fff;position:absolute;z-index:777;top:20px;top:22px;left:0px;border:1px solid #8E8E8E;width:430px;padding-top:6px; }
.intelligent input#forsearch{padding-left:3px;width:149px;}
.intelligentList{padding:0px 3px 4px 2px;}
.intelligentList {background:#fff;width:430px;padding-top:6px; text-align:left}
.intelligentList div span{float:right;}
.intelligentList{padding:0px 3px 4px 2px;}
.intelligentList div{padding:1px;background:#fff;border:1px solid #fff;}
.intelligentList a {color:#000!important;text-decoration:none;display:block;padding:1px 6px 1px 0px;}
.intelligentList a span {color:green;}
.intelligentList a:visited {color:#000!important;text-decoration : none;padding:1px 6px 1px 0px;}
.intelligentList a:visited span {color:green;}
.intelligentList a.current div{background:#3366CC;border:1px solid #3366CC;color:#fff;}
.intelligentList a:visited.current div span, .intelligentList a.current div span{color:#fff}
.intelligent .intelligentIframeMask {background:#fff;position:absolute;z-index:776;top:28px;left:0px;width:437px;height:10px; }

.whatnew{color:#602705;float:left;width:83px;height:35px;background:url('home_whatnew.gif') no-repeat 39px 0;font-weight:bold }

/* translate begin */
#trsContentId{overflow:hidden;position:absolute;top:18px;z-index:10;height: 200px; width: 100px; border:1px solid #7F9DB9;background-color:#fff;padding:2px;}
#trsContentId a {display:block;padding:2px 6px;border:1px solid #fff;}
#trsContentId a:visited {color:#000;}
#trsContentId a:hover {border:1px solid #316AC5;color:#fff;text-decoration:none;}
.maskIframe{position:absolute;z-index:1;width:1px;height:1px;top:0px;left:0px;border:0px;background:#fff;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
/* translate end */
